<div class="content">
  <form name="loginForm" class="login" #form="ngForm">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Imię</mat-label>
      <input matInput type="text" [(ngModel)]="fName" name="fName" required />
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input matInput type="text" [(ngModel)]="lName" name="lName" required />
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Numer Stanowiska</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="officeNr"
        name="officeNr"
        required
        min="1"
        max="19"
      />
      <mat-hint>numery od 1 do 19</mat-hint>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="send($event)"
      [disabled]="!form.valid"
    >
      Zaloguj
    </button>
  </form>
</div>
