.content {
  display: flex;
  justify-content: center;
}
.login {
  width: 400px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

mat-form-field {
  margin-top: 5px;
  width: 90%;
}

button {
  margin-top: 10px;
}

.drawer-container {
  position: absolute;
  height: 100vh;
  width: 400px;
  background-color: #eee5e9;
  right: 0;
}

.drawer-sidenav {
  background-color: #eee5e950;
  width: 200px;
}

.drawer-sidenav button {
  margin: 10px;
}
